header{
	font-family: "Goudy Old Style";
	font-style: oblique;
	font-size: X-large;
	text-align: center;
}
nav{
	font-family: Elephant;
	font-style: oblique;
	font-size: large;
	text-align: center;
	text-transform: uppercase;
}
section{
	font-family: "Franklin Gothic Medium";
	font-style: oblique;
	font-size: large;
	text-transform: uppercase;
}
footer{
	font-family: Forte;
	font-style: oblique;
	font-size: large;
	text-align: center;
	text-transform: uppercase;
}