nav li{

list-style: url(icono.png);
}
section li {
	display: inline;
}
	section a:link{
	color: #EC9A00;
	text-transform: capitalize;
	text-decoration: none;
	}
	section a:visited{
	color: #905000;
	text-transform: capitalize;
	text-decoration: none;
}
section a:hover{
	color: #FF6FB7;
	text-transform: uppercase;
	font-family: Impact;
}
