body{
	background-image: url(fondo7.jpg);
	color: lime;
}
header {
background-image: url(fondo11.jpg);
}
nav {
background-image: url(fondo8.jpg);
}
section#contenido {
background-image: url(fondo9.jpg);
}
footer {
	background-image: url(fondo10.jpg);
	color: aqua;
}