
img#espana{
width: 3vw;
float: right;
}

img#uk{
width: 3vw;
float: right;
}
header{
	background-image: url(../imagenes/fondo1.jpg);

}

body{
	background-image: url(../imagenes/fondo5.jpeg);
}
img#HTML5_validador{
	width: 5%;
}
/*Por orden, ajustes de la bandera de España,
Reino Unido, fondo del encabezado, fondo del
cuerpo, y ajuste de la imagen de ''validado HTML''*/