/*Distribución de las posiciones de forma
general*/
header {
	position: absolute;
	top: 2vw;
	left: 15vw;
	right: 15vw;
	height: 7vw;
	width: 70vw;
	text-align: center;
	border-radius: 15px;
}
nav {
position: absolute;
top: 11vw;
left: 2%;
width: 20vw;
height: 20vw;
}
section#contenido {
position: absolute;
top: 16vw;
left: 27vw;
width: 65vw;
height: 35vw;
}
footer {
position: absolute;
top: 53vw;
left: 30%;
height: 5vw;
width: 65%;
}

#contenido{
overflow: auto;
}
/*Modificación de las fuentes*/
header{
	font-size: xx-large;
}
section#contenido h1{
	font-family: Lucida Fax;
	font-size: xx-large;
}
section#contenido{
	font-family: Haettenschweiler;
	font-size: x-large;
	}
section#contenido a:link{
	color:red;
}

/*Caracterización de los enlaces*/
	section a:link{
	font-family: Rockwell Extra Bold;
	color: #EC9A00;
	text-transform: capitalize;
	text-decoration: none;
	}
	section a:visited{
	font-family: Rockwell Extra Bold;
	color: #905000;
	text-transform: capitalize;
	text-decoration: none;
}
section a:hover{
font-family: Rockwell Extra Bold;
	color: #FF6FB7;
	text-transform: uppercase;
	font-family: Impact;
}
