/*Distribución de las posiciones de forma
general*/
header {
	position: absolute;
	top: 2vw;
	left: 15vw;
	right: 15vw;
	height: 7vw;
	width: 70vw;
	text-align: center;
	border-radius: 15px;
}
nav {
position: absolute;
top: 11vw;
left: 2%;
width: 20%;
height: 20vw;
}
section#contenido {
position: absolute;
top: 16vw;
left: 20%;
width: 75%;
height: 15vw;
}
footer {
position: absolute;
top: 41vw;
left: 30%;
height: 2vw;
width: 65%;
}

#contenido{
overflow: auto;
}
header{
	font-size: xx-large;
}
section#contenido h1{
	font-family: Lucida Fax;
	font-size: xx-large;
}
section#contenido{
	font-family: Plantagenet Cherokee;
	font-size: large;
	}